_l4c_generated
.vscode

#  python cache
**/__pycache__/
wandb
wandb_cache/
data
data1
data2
data3

utils/*.npy

artifacts/

*.log

multirun/

outputs/

c_generated_code*

*.json

test_data/mpc_freqz_analisys
test_data/drone_movie_data
documentation/movies