numpy
matplotlib
torch
torchdiffeq
attrs
icecream
pandas
casadi==3.6.3
wandb
torch-interpol
openvino==2023.3.0
intel-extension-for-pytorch
lightning
mujoco==3.2.0
mediapy
mediapipe
hydra-core
hydra-joblib-launcher
hydra-optuna-sweeper
hydra-submitit-launcher
tqdm
derivative